.container
{
	display: block;
	 position: absolute;
	 justify-content: center;
	 align-items: center;
	 left: calc(50% - 100px);
	 transform: translateX(-50%);
	 transform: translate(35%,50%);
	top: 4px;
}
.bigcircle
{
	position: absolute;left:50px;
	top:50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: radial-gradient(white,#ff00f9);
	box-shadow: inset 0 0 25px rgba(0,0,0,0.9);
	cursor: not-allowed; 
}
.bigcircle:before, .bigcircle:after
{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	background-color:  #ffffff;
	z-index: -1;
	animation: corona 7s linear infinite;
}
@keyframes corona
{
	0%
	{
		transform: rotate(0deg) scale(1);
		filter: blur(50px);
	}
	
	50%
	{
		transform: rotate(180deg) scale(0.6);
		filter: blur(50px);
	}

	100%
	{
		transform: rotate(360deg) scale(1);
		filter: blur(50px);
	}

}
.outercircle1
{
	transform: rotate(-5deg);
	position: absolute;
	left: 145px;
	top:90px;
}
.point
{
	width: 20px;
	height: 5px;
	background-color: #fe00f0;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.8);
}
.outercircle
{
	position: absolute;
	left: 15px;
	top: -8px;
	width: 10px;
	height: 20px;
	background-color: #fe00f0;
	border-radius: 50%;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.9); 
}
.outercircle2
{
	transform: rotate(-100deg);
	position: absolute;
	left :80px;
	top: 40px;
}
.outercircle3
{
	transform: rotate(110deg);
	position: absolute;
	left :70px;
	top: 150px;
}
.outercircle4
{
	transform: rotate(200deg);
	position: absolute;
	left :50px;
	top: 70px;
}
.outercircle5
{
	transform: rotate(60deg);
	position: absolute;
	left :120px;
	top: 145px;
}
.point2
{
	width: 15px;
	height: 5px;
	background-color: #fe00f0;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.8);
}
.outercircle6
{
	position: absolute;
	left :15px;
	top: -8px;
	width: 7px;
	height: 20px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.8);
}
.innercircle1
{
	position: absolute;
	left: 60px;
	top:60px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 9px rgba(0,0,0,0.8);
}
.innercircle2
{
	position: absolute;
	left: 80px;
	top:90px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.8);
}
.innercircle3
{
	position: absolute;
	left: 100px;
	top:44px;
	width: 18px;
	height: 17px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}
.innercircle4
{
	position: absolute;
	left: 44px;
	top:90px;
	width: 14px;
	height: 13px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
.innercircle5
{
	position: absolute;
	left: 60px;
	top:120px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
.innercircle6
{
	position: absolute;
	left: 120px;
	top:90px;
	width: 16px;
	height: 18px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
}
.innercircle7
{
	position: absolute;
	left: 100px;
	top:130px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}
.innercircle8
{
	position: absolute;
	left: 130px;
	top:125px;
	width: 13px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}
.innercircle9
{
	position: absolute;
	left: 128px;
	top:60px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}
.innercircle10
{
	position: absolute;
	left: 100px;
	top:70px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}
.innercircle11
{
	position: absolute;
	left: 105px;
	top:107px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
.innercircle12
{
	position: absolute;
	left: 80px;
	top:120px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.8);
}
.innercircle13
{
	position: absolute;
	left: 65px;
	top:100px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe00f0;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
.typewriter
{
	display: block;
	position: absolute;
	text-align: center;
	align-items: center;
	justify-content: center;
	left: calc(50% - 150px);
	width: 280px;
	top:50%;
}
.typewriter h1 
{
	position: absolute;
	display: block;
	background: -webkit-linear-gradient(45deg, #ff00f9,white, #ff00f9, white,#ff00f9, white,#ff00f9, white);
	overflow: hidden;
	-webkit-text-fill-color: transparent; 
	-webkit-background-clip: text;
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: 0.15em; 
	animation:typing 3.5s steps(30, end) infinite;
	text-shadow: 2px 2px 8px #ffffff;
}

@keyframes typing
{
  0% { width: 0 ;text-shadow: 2px 2px 8px #ffffff;}
  33%{text-shadow: 0px 0px 3px #ffffff;}
  67%{text-shadow: 2px 2px 8px #ffffff;width: 280px;}
  100%{width:280px;text-shadow: 0px 0px 3px #ffffff;}
}


.gradient-text
{
	position: absolute;
	top: 40%;
	width: 100%;
	font-size: 25px;
	font-weight:bolder;
	background-image: linear-gradient(45deg, #ff00f9,white, #ff00f9, white,#ff00f9, white,#ff00f9, white,white);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	animation: glitter 10s linear infinite;
}
@keyframes glitter
{
	0%{text-shadow: 4px 4px 16px #000000;}
	25%{text-shadow: 0px 0px 0px #000000;}
	50%{text-shadow: 4px 4px 16px #000;}
	75%{text-shadow: 0px 0px 0px #000;}
	100%{text-shadow: 4px 4px 16px #000;}
}
@media screen and (max-width: 300px)
{
	.typewriter
	{
		font-size: 11px;
		letter-spacing: 0.05em;
		width:200px;
		left: calc(50% - 100px);
	}
	@keyframes typing
	{
	  from { width: 0 }
	  to { width: 200px }
	}
	.gradient-text
	{
		font-size: 15px;
	}
}